*{
	margin: 0;
	padding: 0;

	font-family: 'Lobster', cursive;
}

html,body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

header{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	padding: 5px 3%;
}

a:hover{

	background-color: yellowgreen;
}

a{

	font-size: 25px;
}

img:hover{

	opacity:  0.8;
}

h1,h2,h3,h4,h5,p{

	
	color: salmon;
}


#banner{
	background-image: url(https://wallpaperaccess.com/full/3903487.jpg);
	
	background-size: cover; 
	/*stretches the image to cover the whole element*/

	background-position: center;
	/* used to select a part of the image that will be used for the cover*/

	opacity: 95%;

}

.fab{

	font-size: : 3rem;
	height: 2px;
	color: salmon;
	text-align: center;

}
